.flex-container {
  display: flex;
  align-items: stretch;
}

.main {
  width: 60%;
}

.aside {
  padding: 20px;
  width: 25%;
  height: 100vh;
  background-color: white;
}

.border {
  padding: 20px;
  background-color: #F1F1F1;
  width: 15%;
  height: 100vh;
}

@media screen and (max-width: 1024px) {
  .border {
    display: none;
  }

  .aside, .main {
    flex-grow: 1;
  }
}

@media screen and (max-width: 800px) {
  .aside, .main {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .flex-container {
    flex-flow: row wrap;
  }
  .flex-container > * {
    width: 100%;
  }
  .aside {
    overflow: scroll;
  }
}


.search {
  padding: 10px 0px;
  margin-bottom: 20px;
}

input {
  width: 70%;
  padding: 10px;
  float: left;
}

.search-item {
  padding: 15px 0px;
  display: block;
  text-decoration: none;
  color: black;
}

.search-item:hover {
  border-bottom: 1px solid black;
}

.main-item {
  padding: 20px 30px;
  background-color: azure;
  height: 100vh;
}

@media screen and (max-width: 700px) {
  .main-item {
    margin-top: -60vh;
  }
}

.main-item-header {
  margin-bottom: 50px;
}

.main-item-text {
  margin: 10px;
  margin-bottom: 0px;
}

.main-item-close {
  position: relative;
}

h4 {
  border-bottom: 1px solid black;
  margin-bottom: -5px;
}

h4:hover {
  border-bottom: 1px solid white;
}

.sort-button {
  background: #F1F1F1;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

.sort-dropdown {
  position: relative;
  float: left;
  text-align: left;
  margin-left: 10px;
}

.sort-dropdown-content {
  text-align: left;
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 130px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.sort-dropdown-content .sort-field {
  background: none;
  border: none;
  padding: 5px 20px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.sort-dropdown:hover .sort-dropdown-content {
  display: block;
}

.sort-field:hover {
  background: #F1F1F1;
}

.sort-field .active {
  background: #F1F1F1;
}

.sort-dropdown:hover .sort-button {
  background: #F1F1F1;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position:relative; 
  top:-5px;
}

.close {
  position: absolute;
  right: 0px;
  top: 20px;
  width: 24px;
  height: 24px;
  opacity: 0.3;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}