.flex-container {
  display: flex;
  align-items: stretch;
}

.main {
  padding: 20px 30px;
  background-color: azure;
  width: 65%;
}

.aside {
  padding: 20px;
  width: 20%;
  height: 100vh;
  background-color: white;
}

.border {
  padding: 20px;
  background-color: #F1F1F1;
  width: 15%;
  height: 100vh;
}

@media screen and (max-width: 700px) {
  .flex-container {
    flex-flow: row wrap;
  }
  .flex-container > * {
    width: 100%;
  }
  .border {
    display: none
  }
  .main {
    padding-bottom: 40vh;
  }
}

.search {
  padding: 10px 0px;
}

input {
  width: 80%;
  padding: 10px;
}

.search-item {
  padding: 15px 0px;
  display: block;
  text-decoration: none;
  color: black;
}

.search-item:hover {
  border-bottom: 1px solid black;
}

.main-item-header {
  margin-bottom: 50px;
}

.main-item-text {
  margin: 10px;
  margin-bottom: 0px;
}

h4 {
  border-bottom: 1px solid black;
  margin-bottom: -5px;
}

h4:hover {
  border-bottom: 1px solid white;
}